<% if @cocktail.photo.attached?
    cocktail_img = cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill
 else
    cocktail_img = "https://source.unsplash.com/400x400/?cocktail,#{@cocktail.name}"
end %>

<div class="row">
  <div class="col-md-9 col-sm-12">
    <div class="cocktail-info">
      <div class="cocktail-img" style="background-image: url('<%= cocktail_img %>')" class="cocktail-image">
      </div>
      <div>
        <h1><%= @cocktail.name %></h1>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %>
            <%= dose.ingredient.name %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12 py-4">
    <h2><i class="fas fa-plus-circle"></i> add dose</h2>
    <%= simple_form_for [@cocktail, Dose.new] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <h3>Leave a review for <%= @cocktail.name %></h3>
  </div>
</div>

<div class="row">
<%= simple_form_for [@cocktail, Review.new], html: {class: 'd-flex w-100 flex-wrap'} do |f| %>
    <div class="col-lg-7 col-sm-12 review"><%= f.input :content %></div>
    <div class="col-lg-5 col-sm-12 d-flex align-items-end justify-content-right">
      <%= f.input :rating %>
      <%= f.submit class: 'btn btn-primary', style: 'padding: 5px; margin: 18px 0 18px 24px;' %>
    </div>
<% end %>
</div>

<div class="row">
  <% if @cocktail.reviews.nil? %>
    <em>no reviews yet</em>
  <% else %>
    <% @cocktail.reviews.each do |review| %>
    <div class="col-12">
      <%= '⭐️'*review.rating %>
      <%= review.content %>
    </div>
    <% end %>
  <% end %>
</div>

<div class="footer">
  <br><br> <!-- spacer -->
</div>


